<div class="jinxMenu">
	<div class="jinxMenuBody">
		<h3 class="jinxMenuTitle">Databases</h3>
		<div class="list-group" ng-repeat="(key, value) in database">
			<a class="list-group-item active" ng-click="loadTables(key)"><i ng-if="!value.display" class="fa fa-plus"></i> <i class="fa fa-database"></i> {{value.name}}</a>
			<a class="list-group-item" ng-hide="!value.display" ng-repeat="(kin, vin) in value.table">{{vin}}</a>
		</div>
	</div>
	<div class="jinxCollaps"><i class="fa fa-cog fa-2x"></i></div>
</div>