<div style="height:100%; overflow: auto;">
	<div class="row" style="margin:0px;">
		<jinx-tab></jinx-tab>
		
		<div class="col-md-12">
			<div class="col-md-12 sql-textarea">
				<div class="panel panel-default">
					<div class="panel-heading">SQL Query</div>
					<textarea class="col-md-12" rows="8" ng-model="sql.current"></textarea>
					<div>
						<button class="btn btn-primary pull-right" type="submit" ng-click="sql.run()">Submit</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-12 table-responsive" style="height:100%;">
				<div class="panel panel-default">
					<div class="panel-heading">{{sql.tableName}}</div>
					<table class="table table-condensed">
						<tr>
							<th ng-repeat="(key, value) in sql.result.name">{{value}}</th>
							<th class="text-right"><i class="fa fa-cogs"></i> action</th>
						</tr>
						<tr ng-repeat="i in sql.getNumber() track by $index">
							<td ng-repeat="kin in sql.result.data[i] track by $index">
								<div ng-if="sql.result.data[i].edit == true">
									<input type="text" ng-model="sql.result.data[i][$index]" required style="width:64px;">
								</div>
								<div ng-if="sql.result.data[i].edit != true">
									{{kin}}
								</div>
							</td>
							<td class="text-right">
								<button class="btn btn-success" ng-click="sql.editTable(i)" type="submit"><i class="fa fa-{{(sql.result.data[i].edit != true)? 'pencil' : 'floppy-o'}}"></i></button>
								<button class="btn btn-danger" type="submit"><i class="fa fa-times"></i></button>
								<button class="btn btn-primary" type="submit"><i class="fa fa-refresh"></i></button>
							</td>
						</tr>
					</table>
				</div>
			</div>
							
			<div class="col-md-12 text-center">
				<nav class="pagination-nav">
					<div class="col-sm-1">
						<ul class="pagination pull-right">
							<li ng-if="sql.page >= 1">
								<span aria-hidden="true" ng-click="sql.page = sql.page - 1">&laquo;</span>
							</li>
						</ul>
					</div>
					<div class="col-sm-6 pagination-center">
						<ul class="pagination" style="width:{{sql.getSize()}}px;margin-left:-{{sql.getPosX()}}px;-webkit-transition: margin 0.5s;transition: margin 0.5s;">
							<li ng-repeat="a in sql.range(sql.max) track by $index" class="{{(sql.page == $index) ? 'active' : ''}}" ng-click="sql.page = $index"><span>{{$index + 1}}</span></li>
						</ul>
					</div>
					<div class="col-sm-1">
						<ul class="pagination pull-left">
							<li ng-if="sql.page < sql.max - 1">
								<span aria-hidden="true" ng-click="sql.page = sql.page + 1">&raquo;</span>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>