<div style="height:100%; overflow: auto;">
	<div class="row" style="margin:0px;">
		<jinx-tab></jinx-tab>
		
		<div class="col-md-12">
			<div class="col-md-12" style="margin: 40px 0px;">
				<textarea class="col-md-12" ng-model="sql.current"></textarea>
				<div class="col-md-12">
					<button class="btn btn-default" type="submit" ng-click="sql.run()">Submit</button>
				</div>
			</div>
		</div>
						
		<div class="col-md-12">
			<div class="table-responsive" style="height:100%;">
				<table class="table table-condensed">
					<tr>
						<th ng-repeat="(key, value) in sql.result.name">{{value}}</th>
						<th style="text-align:right;">action</th>
					</tr>
					<tr ng-repeat="(key, value) in sql.result.data">
						<td ng-repeat="kin in value track by $index">{{kin}}</td>
						<td style="text-align:right;">
							<button class="btn btn-default" type="submit">Save</button>
							<button class="btn btn-default" type="submit">Delete</button>
							<button class="btn btn-default" type="submit">Reload</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>