
html, body {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	color:#000;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jinxMenu {
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
	height:100%;
	background-color:#333;
	-webkit-transition: left 0.5s;
    transition: left 0.5s;
}

.jinxView {
	margin-left:200px;
	height:100%;
	overflow:hidden;
	background-color:white;
	z-index: -1;
	-webkit-transition: margin 0.5s;
    transition: margin 0.5s;
}

.jinxCollaps {
	position:absolute;
	bottom:0px;
	right:-32px;
	width:32px;
	height:32px;
	padding:2px 2px 4px 4px;
	background-color:#aaa;
	cursor: pointer;
}

.jinxMenuTitle {
	color: #eee;
	text-align: center;
}

.list-group {
	margin: 5px 0px;
}

.list-group-item {
	padding: 0px 5px;
	cursor: pointer;
}

.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}