
html, body {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	color:#000;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jinxMenu {
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
	height:100%;
	max-height:100%;
	background-color:#333;
	-webkit-transition: left 0.5s;
    transition: left 0.5s;
}

.jinxView {
	margin-left:200px;
	height:100%;
	overflow:hidden;
	background-color:white;
	z-index: -1;
	-webkit-transition: margin 0.5s;
    transition: margin 0.5s;
}

.jinxCollaps {
	z-index: 100;
	position:absolute;
	bottom:0px;
	right:-32px;
	width:32px;
	height:32px;
	padding:2px 2px 4px 4px;
	background-color:#aaa;
	cursor: pointer;
}

.jinxMenuBody {
	min-height: 100%;
	max-height: 100%;
	overflow-y: auto;
}

.jinxMenuTitle {
	color: #eee;
	text-align: center;
	margin: 20px 0px;
}

.nav-menu {
	background-color: #333;
	color: #eee;
}

.nav-menu ul li a {
	color: #eee;
}

.nav-menu ul li a:hover {
	color: #555;
	background-color: #fff;
}

.nav-tabs.nav-justified > li > a {
	border-bottom: none;
}

.list-group {
	margin: 6px 0px;
}

.list-group-item {
	padding: 0px 5px;
	word-break: break-word;
	cursor: pointer;
}

.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item:last-child {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.sql-textarea {
	margin: 40px 0px;
}

.sql-textarea textarea {
	border: solid 1px #eee;
	border-radius: 2px;
	resize: none;
	padding-top: 15px;
	padding-bottom: 15px; 
}

.sql-textarea button {
	margin-top: 10px;
}

.panel-default > .panel-heading {
	font-size: 20px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}